{% extends "index.html" %}

{% block nav %}
    {% for item in menu_list %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    {% if success != null %}
        <div class="col s12">
            <h1>{{ success }}</h1>
        </div>
    {% elseif respond == null %}
        <form method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_login" type="text" class="validate" value="{{ name }}"  name="login_email" required minlength="2" maxlength="30">
                    <label for="icon_login">Login</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">security</i>
                    <input id="icon_security" type="password" class="validate" value="{{ password }}" name="password" required minlength="6" maxlength="40">
                    <label for="icon_security">Password</label>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="authorization">Авторизоваться
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    {% else%}
        <div class="col s12">
            <h3>{{ respond }}</h3>
        </div>
        <form method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_login" type="text" class="validate" value="{{ name }}"  name="login_email" required minlength="2" maxlength="40">
                    <label for="icon_login">Login</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">security</i>
                    <input id="icon_security" type="password" class="validate" value="{{ password }}" name="password" required minlength="6" maxlength="40">
                    <label for="icon_security">Password</label>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="authorization">Авторизоваться
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}